@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: outfit;

}

#root{
  min-height: 100vh;
  display: flex;
  animation: fadeIn 2s;
}


@keyframes fadeIn {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;
  }
}